#include ".themes/urxvt/base16-default.dark.256.xresources"

URxvt*depth: 32
URxvt*transparent: true
URxvt*letterSpace: -1

URxvt*font: xft:DejaVu Sans Mono:pixelsize=15
URxvt*saveLines: 300000
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true

URxvt*perl-ext-common:default,clipboard,color-themes
URxvt*iso14755: False
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt*keysym.Shift-Control-V: perl:clipboard:paste
URxvt*clipboard.autocopy: true
URxvt*clipboard.copycmd: xsel -ib
URxvt*clipboard.pastecmd: xsel -ob

URxvt*color-themes.themedir:  ~/.themes/urxvt
URxvt*color-themes.preprocessor: /usr/bin/cpp
URxvt*keysym.M-C-n:  perl:color-themes:next
URxvt*keysym.M-C-p:  perl:color-themes:prev

URxvt*color-themes.state-file: ~/.urxvt-theme
URxvt*color-themes.autosave: 1
URxvt*keysym.M-C-l:  perl:color-themes:load-state
URxvt*keysym.M-C-s:  perl:color-themes:save-state
