#include "/home/monettes/.urxvt-theme"

#define black #1d2021
! Custom transparent color
*.color00: #00000000

! urxvt settings
URxvt*depth: 32
URxvt*transparent: true
URxvt*letterSpace: -1
URxvt*saveLines:   300000
URxvt*scrollBar:   false
URxvt*cursorBlink: true
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*font: xft:DejaVu Sans Mono:pixelsize=15
URxvt*perl-ext-common:default,clipboard,color-themes

! urxvt clipboard settings
URxvt*iso14755: False
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt*keysym.Shift-Control-V: perl:clipboard:paste
URxvt*clipboard.autocopy: true
URxvt*clipboard.copycmd: xsel -ib
URxvt*clipboard.pastecmd: xsel -ob

! urxvt theme preview
URxvt.keysym.M-C-s:  perl:color-themes:save-state
URxvt.color-themes.state-file: ~/.urxvt-theme
URxvt*color-themes.preprocessor: /usr/bin/cpp
URxvt*keysym.M-C-n:  perl:color-themes:next
URxvt*keysym.M-C-p:  perl:color-themes:prev
URxvt*color-themes.autosave: 0

! rofi settings
rofi.modi: run
rofi.lines: 10

! element          bg             fg       altbg          hlbg     hlfg
rofi.color-normal: argb:color00, base0A, argb:color00, base0A, base00
rofi.color-urgent: argb:color00, base0A, argb:color00, base0A, base00
rofi.color-active: argb:color00, base0A, argb:color00, base0A, base00
rofi.color-window: argb:color00
rofi.bw: 0
rofi.padding: 50
rofi.fuzzy: false
