#include ".themes/urxvt/base16-default.dark.256.xresources"
#define black #1d2021
*.color00: #00000000
*.colorB0: #000000
*.colorB8: black

URxvt*depth: 32
URxvt*transparent: true
URxvt*letterSpace: -1

URxvt*font: xft:DejaVu Sans Mono:pixelsize=15
URxvt*saveLines: 300000
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true

URxvt*perl-ext-common:default,clipboard,color-themes
URxvt*iso14755: False
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt*keysym.Shift-Control-V: perl:clipboard:paste
URxvt*clipboard.autocopy: true
URxvt*clipboard.copycmd: xsel -ib
URxvt*clipboard.pastecmd: xsel -ob

! urxvt theme preview
URxvt*color-themes.themedir:  ~/.themes/urxvt
URxvt*color-themes.preprocessor: /usr/bin/cpp
URxvt*keysym.M-C-n:  perl:color-themes:next
URxvt*keysym.M-C-p:  perl:color-themes:prev
URxvt*color-themes.autosave: 0

! rofi
rofi.modi: run
rofi.lines: 10

! element          bg             fg       altbg          hlbg     hlfg
rofi.color-normal: argb:color00, base0A, argb:color00, base0A, black
rofi.color-urgent: argb:color00, base0A, argb:color00, base0A, black
rofi.color-active: argb:color00, base0A, argb:color00, base0A, black
rofi.color-window: argb:color00
rofi.bw: 0
rofi.padding: 50
rofi.fuzzy: false
