#include "/usr/share/base16/xresources/base16-atelier-forest-256.Xresources"

#define bgc base00
#define fgc foreground
#define hlc base0A
#define transparent  argb:00000000

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.lcdfilter:  lcddefault
Xft.hinting:    true
Xft.hintstyle:  hintfull
URxvt.lineSpace: 1

! URxvt*font: xft:DejaVu Sans Mono:pixelsize=15
URxvt*font:xft:DejaVu\ Sans\ Mono:pixelsize=14:antialias=true,xft:DejaVu\ Sans\ Mono:pixelsize=14:antialias=true
URxvt*scrollBar: false
URxvt*letterSpace: -1
URxvt*transparent: true
URxvt*cursorBlink: true
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt*perl-ext-common:default,clipboard,clipboard-paste-on-right-click
URxvt.cutchars: ""''&()*,;<=>?@[]{|}.:+-

! urxvt clipboard settings
URxvt*iso14755: False
URxvt*keysym.Shift-Control-C: perl:clipboard:copy
URxvt*keysym.Shift-Control-V: perl:clipboard:paste
URxvt*clipboard.autocopy: true
URxvt*clipboard.copycmd: xsel -ib
URxvt*clipboard.pastecmd: xsel -ob

! rofi settings
rofi*modi: run
rofi*lines: 10

! element          bg            fg   altbg         hlbg hlfg
rofi*color-normal: transparent, hlc, transparent, hlc, bgc
rofi*color-urgent: transparent, hlc, transparent, hlc, bgc
rofi*color-active: transparent, hlc, transparent, hlc, bgc
rofi*color-window: transparent
rofi*bw: 0
rofi*padding: 50
rofi*fuzzy: false
